@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: #fff;
  font-family: "Leksa Sans", sans-serif;
}

button {
  color: inherit;
  border-color: transparent;
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "Leksa Sans";
  src: url("../fonts/LeksaSans.eot");
  src: local("☺"), url("../fonts/LeksaSans.woff") format("woff"), url("../fonts/LeksaSans.ttf") format("truetype"), url("../fonts/LeksaSans.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Leksa Sans";
  src: url("../fonts/LeksaSans-Bold.eot");
  src: local("☺"), url("../fonts/LeksaSans-Bold.woff") format("woff"), url("../fonts/LeksaSans-Bold.ttf") format("truetype"), url("../fonts/LeksaSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Leksa Sans";
  src: url("../fonts/LeksaSans-Black.eot");
  src: local("☺"), url("../fonts/LeksaSans-Black.woff") format("woff"), url("../fonts/LeksaSans-Black.ttf") format("truetype"), url("../fonts/LeksaSans-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

.header {
  padding: 9px 10px 10px 5px;
  background-color: #242332;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link {
  display: inline-block;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link:hover, .header_link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__coints-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}

.header__coints-menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__coints-menu-item:first-of-type {
  margin-right: 30px;
}

.header__coints-menu-item:before, .header__coints-menu-item:after {
  content: "";
  position: absolute;
  left: -15px;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__coints-menu-item:first-of-type:before {
  background-image: url("../images/coints/coins@x3.png");
}

.header__coints-menu-item:last-of-type:before {
  background-image: url("../images/crystal/crystal@x3.png");
}

.header__coints-menu-item .header__coints-menu-item-text {
  padding: 0 16px 0 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.23;
}

.header__coints-menu-item .header__coints-menu-item-btn {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(9.09%, #30c325), to(#2c812a));
  background: linear-gradient(0deg, #30c325 9.09%, #2c812a 100%);
  border-radius: 3px;
  border: 1px solid #21cc14;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__coints-menu-item .header__coints-menu-item-btn .element-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__coints-menu-item .header__coints-menu-item-btn .element-plus_vertical {
  width: 10px;
  height: 2px;
}

.header__coints-menu-item .header__coints-menu-item-btn .element-plus_horizontal {
  width: 2px;
  height: 10px;
}

.header__coints-menu-item:hover, .header__coints-menu-item:focus {
  background-color: #242332;
  -webkit-box-shadow: inset 0 0 15px #000;
          box-shadow: inset 0 0 15px #000;
}

.header__coints-menu-item:hover .header__coints-menu-item-btn,
.header__coints-menu-item:focus .header__coints-menu-item-btn,
.header__coints-menu-item:hover .header__coints-menu-item-btn .element-plus,
.header__coints-menu-item:focus .header__coints-menu-item-btn .element-plus {
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
  cursor: pointer;
}

.shop {
  min-height: 640px;
  background-image: url("../../images/bg-mobile/bg-mobile@x3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .shop__nav {
  text-align: center;
  background-color: #181723;
}

.shop .shop__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .shop__nav-btn {
  position: relative;
  display: block;
  padding: 6px 5px 12px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop .shop__nav-btn:hover, .shop .shop__nav-btn:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#181723), to(#2c1931));
  background-image: linear-gradient(#181723, #2c1931);
  background-repeat: no-repeat;
}

.shop .shop__nav-btn:before, .shop .shop__nav-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), width 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop .shop__nav-btn:before {
  right: 50%;
}

.shop .shop__nav-btn:after {
  left: 50%;
}

.shop .shop__nav-btn:hover:before, .shop .shop__nav-btn:focus:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#fa5482), color-stop(70%, #f52dbe), color-stop(#602150), to(#601e55));
  background-image: linear-gradient(to left, #fa5482, #f52dbe 70%, #602150, #601e55);
  width: 50%;
}

.shop .shop__nav-btn:hover:after, .shop .shop__nav-btn:focus:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#fa5482), color-stop(70%, #fe7a48), color-stop(#602150), to(#613237));
  background-image: linear-gradient(to right, #fa5482, #fe7a48 70%, #602150, #613237);
  width: 50%;
}
/*# sourceMappingURL=main.css.map */