body {
  color: $primary-text-color;
  font-family: "Leksa Sans", sans-serif;
}

button {
  color: inherit;
  border-color: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.space-box {
  width: 100%;
  height: 96px;
}

@media screen and (min-width: 1366px) {
  .space-box {
    height: 150px;
  }
}
